*
{
margin:0;
padding:0;
box-sizing: border-box;
}
body
{
background: linear-gradient(to right, #ff0066 0%, #9966ff 100%)
}
h2
{
display: flex;
flex-direction: row;
}
h2:before
{
content: "";
flex: 2 2;
margin: auto;
background-image: linear-gradient(to right, rgba(255,0,0,0), #f1c40f);
height: 8px;
}
h2:after
{
content: "";
flex: 2 2;
margin: auto;
background-image: linear-gradient(to right,  #f1c40f, rgba(255,0,0,0));
height: 8px;
}

.nav-bar
{
font-size: 15px;
font-weight: bold;
background: #FFC30B;
color: #000000 ;
padding: 10px;
font-family: sans-serif;
background: linear-gradient(to right, #ff0066 0%, #9966ff 100%);
}
img, object
{

}
.nav-bar img
{
  height:250px;
  width: 950px;
  float: left;
  padding: 10px;
 
  max-height: 70%
max-width:50%;

}
.menu-list
{
text-align: left;
}
ul li
{


display: inline-block;
margin: 5px;
list-style: none;
margin-top: 2%;
font-weight: 950;
background-color: #f1c40f;
width: 230px;
border:1px;
height:30px;
line-height: 30px;
text-align: center;
float: left;
color: #2f3640;
font-size:10px;
position: relative;

}

span{
margin: 0 20px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width:400px)
{
span
{
display: block;
}
ul li
{
display:inline-block;
font-size: 18px;
font-weight: bold;

}
ul
{
display:none;
display: inline-block;
}

}
