* {
  box-sizing: border-box;
}


*::-webkit-scrollbar {
  display: none;
}
body {
  margin:0px;
  background-color: #f7f8fa;
  font-family: verdana;
  color:#6b7a99;

}
.container{
  width: 100%;
}
.topnav a {
  min-width: 20%;
  float: left;
  color: #526283;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .search-box button {
  float: left;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;

}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  width: 75%;
  padding-top: 0%;
}

.topnav input[type=text] {
  padding: 6px 10px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 30%;
    background-image: url('../images/search1.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.topnav p {
  float: right; 
  padding-right: 50px;
}
.topnav-elements {
  right:0%;
  margin-top: 8px;
  margin-right: 16px;
  float:right;
  padding: 6px 10px;
  color: #4d5e80;
}
.topnav-elements i{
  padding-left: 30px;

}
.icon {
  width:10px;
  height:10px;
}
.sidebar {
  height: 200%;
  width: 25%;
  right:0%;
  top:0%;
  position: absolute;
  background-color: #202b40;
  padding-top: 50px;

}
.sidebar i {
  margin-left: 20px;
}
.sidebar .i-child{
  margin-left: 70%;
}
/* .sidebar a {
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  padding-bottom: 15px;
} */
.sidebar .active {
  color:orange;
}
.sidebar a:hover {
  color:orange;
}
.side-container{
  padding-left: 30%;

}
.side-container >img {
  border-radius: 50%;
  width:100px;
  height:100px;
  margin-top: 20px;
}
.side-container>h3 {
  padding-top: 10px;
  color: white;
}

.side-container > p{
  padding-bottom: 10px;
}
.sidebar span{
  font-family: verdana;
}
.sidebar li{
  margin-left: 30px;
  list-style-type:none;
  padding-bottom: 20px;
  color:white;
}
.menu li {
  padding: 10px;
  padding-left: 20px;
  list-style-type: none; 
  float:left;
  width:100px;
  color: #6b7a99;
  font-size: 10px;
  font-weight: bold;

}
.menu {
  overflow: hidden;
  width: 75%;
}


.menu >:first-child{
  min-width: 30%;
  font-weight: bold;
  font-size: 16px;
}
.menu >:last-child {
  float: right;
  margin-right: 50px;
  padding-right:0%;
}
.menu .active {
 color: #ff6633;
}

.box-container{
  width:75%;
  position: absolute;
  display: block;
  border-radius: 20%;
  margin-left: 40px;
  margin-right: 40px;

}
.side-box-container{
  width:100%;
  border-radius: 20%;
  margin-left: 40px;

}

.box{
  width:29%;
  float: left;
  height: 300px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 2px 2px #e4e4e4;

}

.box-2{
  width:45%;
  float: left;
  height: 100px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.side-box-1 {
  width:80%;
  float: left;
  height: 200px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

}
.side-box-2{
  width:37%;
  float: left;
  height:170px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.side-box-1 p{
   color:white;
  margin-top: 10%;
  margin-left:10px;
}
.side-box-2 p{
  color:white;
  margin-left:30px;
}
.circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  margin-left: 35px;
  margin-top: 30%;
  padding: 5px;
  background: #29cc39;
  color: rgb(255, 255, 255);
  text-align: center;
  font: 25px;
}
.two-block {
  float: left;
  width: 50%;
height: 100%;  
}

.one-block{
  border-radius: 20px;
  float: left;
  width: 100%;
  padding: 10px;
  height: 100%;
}
.one-block-2{
  border-radius: 20px;
  float: left;
  width: 100%;
  height: 100%;
  background-color: #26334d;
}

.color{
  background-color: #ffffff;
}

.color2{
  background-color: #f4fcf5;
}

.color3{
  background-color:#fff7f5;
}

.headerBlock{
  display: block;
}
.two-block p{
  font-size: 15px;
  margin:0%;
  padding-top: 20px;
  padding-bottom: 30%; 
  padding-left: 40%; 
}

.one-block p{
  margin:0%;
  padding-top: 20px;
  padding-bottom:10%; 
  padding-left: 15%; 
}

.p01{
  font-weight: bold;
  color:#29cc39;
  font-size: 20%;
}
.p02{
  font-weight: bold;
  color:#3361ff;
  font-size: 20px;
  font-size: 30px;
}

.p03{
  font-weight: bold;
  color:#ff6633;
  font-size: 20px;
  font-size: 30px;
}

.colorOrange{
  color:#ff6633;
}

.vl{
  border-left: 6px solid green;
  height: 40%;
  margin-left: 40px;
  margin-top: 40%;
}

.color9{
  background-color:#8833ff;
}
.color-2{
  background-color:#3361ff;

}

.color-1{
  background-color:#ff6633;

  
}


.dropdown { 
  position: absolute; 
  margin-left: 50%;
} 


.dropdown-content { 
  display: none; 
  position: absolute; 
  min-width: 160px; 
  overflow: visible;
  font-size:10px;
} 

.dropdown-content li{
  list-style-type: none;
}

.dropdown:hover .dropdown-content { 
  display: block; 
} 
.dropbtn{
margin-left:50%;
background-color: #202b40;
color:white;
}