
:root {
  --yellow: #ffc600;
  --black: #272727;
}

mark { 
  background-color: black;
  color: white;
  font-weight: 200;
  font-size: 20px;
}
html {
  font-family:  sans-serif;
  font-weight: 900;
  font-size: 10px;
}

body {
  background-image: linear-gradient(#f93d66, #6d47d9);
  margin: 40px;
  letter-spacing: -1px;
  font-size: 15px;

}
 .pricing.background_content{
    background: url('../images/pricing.jpg') no-repeat center center; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}