.menu li {
  list-style-type: none;
  display: inline-block;
  overflow: hidden;

}
.menu a {
  background: rgb(77, 102, 26);
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size:15px;
  color:white;
}

.firstclass{
  float: left;
}
.firstclass img {
 width: 50%;
}

.loginpage {
  float: right; 
  margin-right: 50px;
}
.loginpage p {
  width: 200px;
}

table {
  border: 1px solid rgb(0, 0, 0); 
  text-align:left;
  margin: auto;
  border-collapse: collapse;

}
 td {
  border: 1px solid black;
  padding:5px 15px 5px 10px;
}


.color{
  background-color: #aaa;
}
.color2{
  background-color:#bbb;
}
.twodivide{
  box-sizing: border-box;
  float: left;

  width: 50%;
  padding: 10px;
  height: 200px;
}

.imgdivision{
  box-sizing: border-box;
  float: left;
  width: 25%;

  padding: 5px;
}
.imgdivision > img{
  width: 100%;
  border-radius: 20%;

 }
@media(max-width:900px){

.menu a{
  display: block;
  float:right;

}
.loginpage{
  float: none;
}
.twodivide{
  width: 50%;
  padding: 10px;
  height: 200px;
}
}

